//https://codepen.io/bradtraversy/pen/zEOrPp?editors=1010
.modal-screen{
    //display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);


    .modal{
        min-width: 300px;
        max-width: 500px;
        background-color: $white;
        padding: $base-padding*4 $base-padding*4 $base-padding*3 $base-padding*4;
        position: relative;
        border-radius: $base-border-radius;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;



        // .modal-title{
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     margin: $base-margin*2 0 0 $base-margin*2;
        //     display: flex;
            
        //     p{
        //         color: $secondary;
        //         font-size: $font-size-xs;
        //     }

        // }

        .modal-content{
            // margin: $base-margin 0;
            
            .modal-title{
                color: $secondary;
                font-size: $font-size-xs;
                margin: 0 0 $base-margin*3 0;
            }

            .modal-action-btn-wrapper{
                display: flex;
                gap: $base-margin;
                margin-bottom: $base-margin;
                
                //background-color: aquamarine;

                .modal-action-btn{
                    display:flex;
                    cursor:pointer;
                    //flex-flow: row wrap;
                    //background-color: blue;
                    .modal-btn-text{
                        color: $secondary;
                        font-size: $font-size-xs;
                        padding-right: $base-padding;
                    }
                    
                }
                .modal-action-btn:hover{
                    background-color: $hover;
                }

            }

            .reading-title{
                color: $primary;
                font-size: $font-size-xl;
                margin-bottom: $base-margin*3;
            }

            .details-wrapper{
                display: flex;
                gap: $base-margin*5;
                

                @include mobile-xs{
                    gap: $base-margin;
                }
                
                

                .lhs{
                    .lhs-item{
                        display: flex;
                        gap: $base-margin*0.5;
                        margin-bottom: $base-margin;



                        .property-text{
                            color:$secondary;
                            font-size: $font-size-s;
                        }
                    }


                }
                .rhs{
                    font-size: $font-size-s;
                    & > *  {
                        margin-bottom: $base-margin;
                    }
                    .task-detail{
                        color: $primary;
                        padding-left: $base-padding*0.75;
                        display: flex;
                        gap:$base-margin*0.25;
                    
                        


                        .rhs-item{
                            display: flex;
                            gap: $base-margin*0.25;
                        }
                        

                    }

                    a:link, a:visited {
                        color: $primary;
                        //border-bottom: $base-border-thickness solid $dark-stroke;
                        text-decoration: underline;
                        text-decoration-color: $dark-stroke;
                        text-decoration-thickness: $base-border-thickness;
                        //padding: $base-padding*0.75;
                        
                        //display: inline-block;
                    }
                      
                    a:hover, a:active {

                        background-color: $hover;
                        cursor: pointer;
                        border-radius: $base-border-radius;
                    }


                }
            }

        }

        .modal-footer{
            // position: absolute;
            // bottom: 0;
            // right: 0;
            display: flex;
            gap: $base-margin;
        }


        @include mobile{
            // top: 0;
            // left: 0;

            max-width: 100vh;
            height: 100vh;
            overflow-y: scroll;

        }

    }
}

// !!!!!!!TRANSFER THIS SMomehwere
.detail-icon{
    font-size: $base-font-size;
    align-self: center;
    color:$secondary;
    font-size: $font-size-s;
}

